.App {
  text-align: center;
}

.tuner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 500px;
  margin: auto;
  border: solid;
}

.diff-hr {
  width: 400px;
}

.ref-hr {
  border: 15px solid green;
  width: 200px;
}

.note-freq {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 400px;
}

p {
  height: 20px;
  width: 100px;
  padding: 10px;
}
